header{
    background-image: url(images/Banner\ Image.png);
    padding:200px;
    margin: 50px;
    text-align: center;
    color: aliceblue;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
header h1{
    font-size:50px;
}

.first{
    margin: 50px;
    text-align: center;
}
.first h2{
    font-size: 50px;
    color: red;
}
.first h5{
    color: red;
}
.first img{
    width: 70%;
}

.welcome{
    background-image: url(images/Vectorrr.png);
    display: flex;
    justify-content: space-between;
    margin: 50px;
    color: aliceblue;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

}
.welcome h1{
    font-size: 50px;
}
.welcome section{
    text-align: right;
    padding: 50px;
    margin: 50px;
    width: 50%;
}